@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --white: #ffffff;
  --grey: #414141;
  --red: 	#d62d20;
  --amarillo: #ffa700;
  --blue:#2459cc;
  --orange:#e34c26; 
  --green:#008744;
  --blueReact: #61DBFB;
  --redAngular: 	#ff1100;
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  color: #bbbbbb;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #000000b3;
  color: #f5f5f5;
  letter-spacing: 1px;
}

section {
  padding: 90px 0;
  text-align: center;
  background-color: #000000df;
}

.container {
  width: 100%;
  display: inherit;
  max-width: 1200px;
  justify-content: inherit;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  position: fixed;
  background: transparent;
  transition: background 0.3s;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  z-index: 5;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  justify-content: center;
}

.navbar__logo {
  display: flex;
  align-items: center;
  width: 50px;
  padding-top: 5px;
}

.navbar__links {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar__link {
  padding-left: 20px;
}

.navbar__link a {
  color: #8e8e8e;
  transition: color 0.3s;
}

.navbar__link a:hover {
  color: var(--white);
  transition: color 0.3s;
}

.navbar__menu {
  display: none;
  align-items: center;
  font-size: 35px;
}

.home {
  min-height: 100vh;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.879);
  position: relative;
}

.home__background {
  background: #0000002b;
  background-attachment: fixed;
  background-size: 120%;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  min-height: var(--altura-min);
  animation: movimiento 20s infinite linear alternate;
  animation: movimiento 20s infinite ease-out alternate;
}

@keyframes movimiento {
0% {
  background-position: bottom left;
}
30% {
  background-position: top right;
}
60% {
  background-position: top left;
}
100% {
  background-position: bottom right;
}
}

.home__description{
  /* background-color:  rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px); */
  width: 60%;
  height: 500px;
  justify-content: center;
  padding-top: 35px;
  display: flex;
}


.button-visita{
  color: white;
  background: transparent;
  border: 2px solid white;
  width: 160px;
  height: 60px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.335);
}



.button-visita::before, .button-visita::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
.button-visita:hover::before, .button-visita:hover::after{
  width: 100%;
}
.button-visita:hover span::before, .button-visita:hover span::after{
  height: 100%;
}

.button-visita::before, .button-visita::after{
  transition-delay: 0.2s;
}
.button-visita span::before, .button-visita span::after{
  transition-delay: 0s;
}
.button-visita::before{
  right: 0;
  top: 0;
}
.button-visita::after{
  left: 0;
  bottom: 0;
}
.button-visita span::before{
  left: 0;
  top: 0;
}
.button-visita span::after{
  right: 0;
  bottom: 0;
}
.button-visita:hover::before, .button-visita:hover::after{
  transition-delay: 0s;
}
.button-visita:hover span::before, .button-visita:hover span::after{
  transition-delay: 0.2s;
}

.button-visita{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 30px;
  background: rgba(0,0,0,0.09);
}








.home__profile {
  height: 250px;
  border-radius: 50%;
  margin-right: 40px;
  transition: filter  3s;
  background-color:  rgba(39, 129, 46, 0.013);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgb(255, 255, 255);
  margin-top: 80px;
}

.home__title {
  font-size: 65px;
  text-shadow: 10px 10px black;
  color: #000000;
  -webkit-text-stroke: 1.3px rgb(255, 255, 255);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home__title--h1{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.home__title--h1 a{
  margin-top: 50px;
}

.home__title--primary,
.home__title--secondary {
  font-size: 45px;
  color: #f5f5f5;
  text-shadow: 1px 1px black;
}

.home__title--soy{
  font-size: 45px;
  color: #f5f5f5;
  text-shadow: 1px 1px black;
  font-weight: lighter;
}

.section__title {
  color: white;
  font-size: 40px;
  margin-bottom: 50px;
  display: flex;
  font: bold;
  background: rgb(0, 0, 0);
  padding-left: 20px;
  box-shadow: 20px 20px 1px rgba(0, 0, 0, 0.5);
  height: 80px;
  padding-top: 20px;
  border: 2px solid white;
}

.fa-link{
  padding-left: 30px;
}

.fa-user{
  padding-left: 30px;
}

.fa-tools{
  padding-left: 30px;
}

.fa-folder{
  padding-left: 30px;
}


.section__subtitle {
  color: white;
  text-align: start;
  margin-bottom: 20px;
}

.about__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about__description {
  text-align: left;
  color: white;
  padding-right: 50px;
  line-height: 40px;
  padding-top: 10px;
}

.titulo__destacado{
  color: white;
}

.about__summary {
  margin: 30px 0;
}

.about__description span {
  color: white;
}

.about__description h2 {
  margin: 20px 0;
}

.about__skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding-left: 10px;
  background-color: #00000028;
  box-shadow: 30px 30px 0px rgba(0, 0, 0, 0.782);
}

.skill__title {
  color: white;
  grid-column: span 5;
  text-align: left;
  margin: 20px 0;
  padding-top: 20px;
  padding-left: 40px;
}

.skill__item {
  font-size: 65px;
  color: white;
  padding: 35px;
  transition: all 0.3s;
  min-width: 130px;
  height: 180px;
  font-weight: bolder;
}
.fa-html5{
  color: #e34c26;
}

.fa-css3-alt{
  color: #264de4;
}

.fa-js{
  color:#f0db4f ;
}

.fa-git-alt{
  color: #f34f29;
}

.fa-react{
  color: var(--blueReact);
}

.fa-sass{
  color: pink;
}

.fa-bootstrap{
  color: purple
}

.fa-node-js{
  color: green;
}

.fa-angular{
  color: var(--redAngular);
}

.fa-yarn{
  color: #0e76a8;
}

.fa-npm{
  color: #d62d20;
}

.skill__name {
  font-size: 16px;
  text-align: center;
}

.services__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}


.services__item {
  padding: 20px;
  background: rgb(255, 255, 255);
  border-bottom: 5px solid transparent;
  transition: all 0.25s;
}

.services__item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.services__item:hover i {
  transition: all 0.3s;
  color: rgba(0, 0, 0, 0.665);
}

.services__item i {
  transition: all 0.3s;
  font-size: 40px;
  margin: 20px 0;
}

.fa-lock{
  color: black;
}

.fa-database{
  color: black;
}

.fa-code{
  color: black;
}

.fa-rocket{
  color: black;
}

.fa-users{
  color: black;
}

.fa-flask{
  color: black;
}

.services__item h3 {
  color: black;
  margin-bottom: 15px;
}

.services__item p {
  color: black;
}

.portfolio__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.portfolio__item {
  background: white;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  font-size: 14px;
}

.portfolio__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 1s;
  max-height: 190px;
}

.portfolio__description {
  padding: 50px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 300px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portfolio__item:hover .portfolio__description {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
  transform: translateY(-300px);
}

.portfolio__item:hover .portfolio__img {
  transition: all 1s;
  transform: scale(1.3);
}

.portfolio__description--title {
  color: var(--white);
}

.portfolio__description--text {
  margin: 20px 0;
}

.buttons__container {
  display: flex;
}

.button {
  background: #191919;
  color: #f5f5f5;
  padding: 5px 10px;
  display: inline-block;
  margin: auto;
}

.button:hover {
  color: var(--green);
}




.button--cta {
  background: black;
  color: white;
  padding: 5px 30px;
  display: inline-block;
  align-self: center;
  margin: 20px auto;
  font: bold;
  margin-top: 70px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.button--cta i {
  margin-right: 10px;
}

.button--cta:hover {
  background: white;
  color: black;
}

.contact__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 60px;
}


.contact__grid a{
  width: 50px;
  height: 50px;
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
}

.contact__item {
  color: white;
  padding: 40px;
  transition: all 0.3s;
}


.anashe{
  display: flex;
  justify-content: center;
  align-items: center;
}


.fa-envelope{
  color: var(--red);
}

.fa-github{
  color: black;
}

.fa-instagram{
  color: rgb(131, 64, 10);
}

.fa-linkedin-in{
  color:#0e76a8  ;
}

.contact__item i {
  font-size: 50px;
  margin-bottom: 10px;
}

.fa-envelope:hover {
  transition: all 0.3s;
  color: var(--grey);
}
.fa-github:hover {
  transition: all 0.3s;
  color: var(--grey);
}
.fa-instagram:hover {
  transition: all 0.3s;
  color: var(--grey);
}
.fa-linkedin-in:hover {
  transition: all 0.3s;
  color: var(--grey);
}
.active a {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: larger;
}

.footer {
  color: white;
  /* background-color: rgba(245,245,245,0.6); */
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  text-align: center;
  font-size: 16px;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: var(--green);
}